.input {
    background-color: white;
    border: none;
    padding: 15px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width: 90%;
    margin: 10px 0;
    border-radius: 10px;
    box-sizing: border-box;
}

.dropdown {
  
}


.text {
  
}


.textarea {
    min-height: 100px;
}